pipeline/BLOB_TO_SQL_DB.json
{
	"name": "BLOB_TO_SQL_DB",
	"properties": {
		"activities": [
			{
				"name": "Users Posts",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Compare CSV with Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE FROM UsersPosts",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "userId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "userId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "body",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "body",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BlobUsersPosts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_DB_Users_Posts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Users Todos",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Compare CSV with Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE FROM UsersToDos",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "userId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "userId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "completed",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "completed",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BlobUsersToDos",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_DB_Users_ToDos",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Validate Blob Folder",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobFolder",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:20",
					"sleep": 10,
					"childItems": true
				}
			},
			{
				"name": "Compare CSV with Reference",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Users Sctructure Reference",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Users Sctructure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Users Sctructure').output.structure,activity('Get Users Sctructure Reference').output.structure)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Structure Validation",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "The Structure for the Users Table Is Wrong. Please check the reference.",
								"errorCode": "STRUCTURE"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Users",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "DELETE FROM UsersPosts\nDELETE FROM UsersToDos\nDELETE FROM Users",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "id",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "username",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "username",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "email",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "email",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "street",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "street",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "suite",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "suite",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "city",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "city",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "zipcode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "zipcode",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "lat",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "lat",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "lng",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "lng",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "phone",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "phone",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "company_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "company_name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "catchPhrase",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "catchPhrase",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "bs",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "bs",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "BlobUsers",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SQL_DB_Users",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Users Sctructure",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validate Blob Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobUsers",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Users Sctructure Reference",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Validate Blob Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "BlobUsersRef",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-12-04T20:31:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}